@model Thinh_Ecom.Entities.About

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>About</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.about_Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.about_Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.about_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.about_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.about_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.about_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.about_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
