@model Thinh_Ecom.Models.PaymentManagement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PaymentManagement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_Confirm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_Confirm)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type_Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type_Payment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Check_Receive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Check_Receive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdConfirm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
